html * {
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
    top: 0;
    left: 0;
    margin: auto;
    width: 50%;
    font-size: 1rem;
    font-family: ;
}
.container{
    background-color: white;
    width: 600px;
    margin: 75px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}
.left-side{

}
.right-side{

}
.content{

}
.footer{

}