html * {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    top: 0;
    left: 0;
    margin: auto;
    width: 50%;
}
h1{
    margin: 0;
}
h3{
    margin-top: 5px;
}
.container{
    background-color: white;
    width: 600px;
    margin: 100px 150px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 2px 10px;
}
.ellipsis{
    padding-top: 10px;
}
.html5-logo{
    margin-top: 10px;
}
.header-text{
    display: inline;
    position: relative;
    left: 15px;
    padding-top: 10px;
}
.left-side{
    display: flex;
}
.right-side {
    padding-top: 10px;
}
.picture{
    width: 600px;
}
.icons{
    padding-left: 10px;
    padding-top: 6px;
}
.footer{
    padding: 2px 10px 2px 10px;
}
span{
    float: right;
    padding-right: 10px;
}